{% extends 'base1.html' %} {% block css %}{% endblock css %} {% block body %} 

<div class='container'>
    <div class="jumbotron jumbotron-fluid" style='color: darkblue; background-color: lightcoral;'>
  <div class="container">
    <h1 class="display-4">Hey Abhinav Anand, </h1>
    <p class="lead">Let's check out what is going on in our Backend. Have a good Day</p>
  </div>
</div>
<div class="card">
  <h5 class="card-header">PORTFOLIO</h5>
  <div class="card-body">
    <h5 class="card-title">Let's check any recruiter is interested in you.</h5>
    <p class="card-text">Check all messages that we</p>
    <a href="contact" class="btn btn-primary">GO TO BACKEND DATA</a>
  </div>
</div>
</div>
{% endblock body %}
